.hero {
    position: relative;
    color:white;
    height: 100vh;
    
    &::before{
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(to top left, $primary-color, $biru-ungu-muda);
        opacity: 0.9; 
    }
    

    .neonbox{
        position: absolute;
        bottom: 15%;

        h1,h2,h3,h4 {
            margin: 5px 0;
        }
    }

    .wadahbutton {
        display: flex;
    }

    &--wa{
        margin: 2rem 0;
        font-size: $font-med;
        font-weight: 700;
        transition: all 150ms ease-in-out;
        
        &:hover{
            background: $secondary-color;
            color: black;
        }
    }
}