.keunggulan {
    padding: 6.5rem 0;
    background: white;
    
    h1,h2,h3 {
        text-align: center;
        font-weight: 400;
        margin: 0;
    }
    .display-layanan {
        display: grid;
        gap: 5rem;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: black;
        
        @include breakpoint-up(large) {
            grid-template-columns: repeat(3, auto) !important;
        }

        @include breakpoint-up (medium) {
            grid-template-columns: repeat(2, auto);
        }

        @include breakpoint-down(small) {
            grid-template-columns: repeat(1, auto);
        }

        .keunggulan-home {
            display: grid;
            width: 275px;
            height: 200px;
            grid-template-rows: 50px 50px;
            grid-gap: 0;
            align-content: space-around;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 1rem;
            background: $snowgrey;
            text-align: center;
            border: 2px $primary-color solid;

            i {
                color: $primary-color;
                font-size: 3rem;
            }

            
        }

        &-last {
            display: flex;
            gap: 5rem;
            flex-wrap: wrap;
            align-content: space-between;
            align-items: center;
            justify-content: center;
            padding: 4rem 0;
            color: black;
            
            .keunggulan-home {
                display: grid;
                width: 275px;
                height: 200px;
                grid-template-rows: 50px 50px;
                grid-gap: 0;
                align-content: space-around;
                align-items: center;
                justify-content: center;
                padding: 1.5rem 1rem;
                background: $snowgrey;
                text-align: center;
                border: 2px $primary-color solid;

                i {
                    color: $primary-color;
                    font-size: 3rem;
                }
            }
        }
    }
}