//Warna
$primary-color: #2a2d60;
$secondary-color: #9b957c;
$secondary-lebih-gelap: #3a372c;
$biru-ungu-muda: #6883ba;
$ungu-muda: #999ac6;
$snowgrey: #f9f9f9;
$grey-footer-roma: #d5d2c9;
$ungu-footer-roma: #8e91ce; 


//font-size
$font-sm: 0.875rem;
$font-med: 1.125rem;